
main {

    #sloganContainer {

        padding: 100px;

        #sloganBannerContainer {

            
            position: relative;
            text-align: center;

            img {

                width: 70%;
                border-radius: 12px;

            }

            #slogan {
    
                cursor: default;
                color: white;
                padding: 20px;
                background-color: rgba(0, 0, 0, 0.80);
                font-size: 32px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: 0.7s;
    
                &:hover {
    
                    background-color: rgba(0, 0, 0, 0.90);
                    border-radius: 12px;
    
                }
    
            }

        }

    }

    #about-us {

        .row {

            display: flex;
            justify-content: center;

            .container {

                cursor: default;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 1000px;
                height: 300px;
                text-align: center;
                background-color: rgba(0, 0, 0, 0.80);
                color: rgb(202, 202, 202);
                margin-bottom: 10px;
                margin: 30px;
                padding: 40px;
                transition: 0.7s;

                &:hover {

                    border-radius: 12px;
                    background-color: rgba(0, 0, 0, 0.90);
                    color: white;

                }

                h1 {

                    font-size: 48px;
                    margin-bottom: 20px;

                }

                p {

                    font-size: 19px;

                }

            }

        }

    }

}