
nav {

    background-color: rgba(0, 0, 0, 0.80);
    margin: 30px;
    padding: 40px;

    #navbar-logo {

        margin-top: -10px;
        float: left;
        font-size: 48px;
        text-decoration: none;
        color: white;

    }

    #navbar {

        list-style: none;
        display: flex;
        justify-content: end;
        gap: 3em;

        .navbar-item {

            text-decoration: none;
            color: gray;
            font-size: 32px;
            transition: 0.7s;

            &:hover {

                color: rgb(170, 170, 170);

            }

        }

    }

}

@media (max-width: 480px) {

    nav {

        display: none;

    }
    
}

@media (max-width: 1174px) {

    nav {

        #navbar-logo {
            
            display: none;

        }

        #navbar {

            justify-content: center;

        }

    }
    
}



@media (max-width: 847px) {

    nav {

        display: none;

    }
    
}