@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Raleway:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Fredoka", "Raleway", sans-serif;
  font-weight: lighter;
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#homeBody {
  height: 110vh;
}

#main #welcomeSection {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 1em;
  height: 70vh;
  justify-content: center;
}
#main #welcomeSection .welcomeHeading {
  font-size: 2.8em;
}
#main #welcomeSection .welcomeParagraph {
  font-size: 1.3em;
}
#main #welcomeSection .welcomeParagraph br {
  display: none;
}
#main #welcomeSection #btn-area {
  display: flex;
  gap: 1em;
}
#main #welcomeSection #btn-area button {
  cursor: pointer;
  border: none;
  border-radius: 9px;
  padding: 11px;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  #main #welcomeSection {
    text-align: center;
    align-items: center;
  }
  #main #welcomeSection .welcomeHeading {
    font-size: 52px;
  }
  #main #welcomeSection .welcomeParagraph {
    font-size: 1.2em;
  }
  #main #welcomeSection .welcomeParagraph br {
    display: block;
  }
  #main #welcomeSection #btn-area button {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 1280px) {
  #main #welcomeSection .welcomeHeading {
    font-size: 3.75em;
  }
  #main #welcomeSection .welcomeParagraph {
    font-size: 22px;
  }
}
main {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
main #about-us {
  cursor: default;
  display: flex;
  flex-direction: column;
}
main #about-us .row {
  display: flex;
  flex-wrap: wrap;
}
main #about-us .row .box {
  margin: 10px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
main #about-us .row .box .heading {
  font-size: 34px;
  margin-bottom: 10px;
}
main #about-us .row .box .detail {
  font-size: 18px;
}

@media only screen and (min-width: 992px) {
  main {
    margin: 30px;
  }
  main #about-us .row {
    flex-wrap: nowrap;
  }
  main #about-us .row .box {
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 0.7s;
    justify-content: center;
  }
  main #about-us .row .box:hover {
    background-color: rgba(0, 0, 0, 0.9);
  }
  main #about-us .row .box .heading {
    font-size: 48px;
    margin-bottom: 20px;
  }
  main #about-us .row .box .detail {
    font-size: 22px;
  }
}
#humburgur-menu {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: end;
  padding-right: 30px;
  height: 10vh;
}
#humburgur-menu button {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 28px;
}

#humburgur-menu-items {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  display: none;
}
#humburgur-menu-items #menu {
  display: flex;
  flex-direction: column;
  height: 70vh;
  list-style: none;
  justify-content: center;
  gap: 2em;
  align-items: center;
}
#humburgur-menu-items #menu .menu-item {
  text-decoration: none;
  font-size: 32px;
  color: gray;
}

nav {
  display: none;
}

@media only screen and (min-width: 992px) {
  #humburgur-menu {
    display: none;
  }
  nav {
    display: flex;
    justify-content: center;
    margin: 30px;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.8);
  }
  nav #navbar-logo {
    display: none;
  }
  nav #navbar {
    list-style-type: none;
    display: flex;
    gap: 4em;
  }
  nav #navbar .navbar-item {
    font-size: 32px;
    color: gray;
    text-decoration: none;
    transition: 0.7s;
  }
  nav #navbar .navbar-item:hover {
    color: rgb(200, 200, 200);
  }
}
@media only screen and (min-width: 1280px) {
  nav {
    justify-content: space-between;
    align-items: center;
  }
  nav #navbar-logo {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 42px;
  }
  nav #navbar {
    justify-content: end;
  }
}
footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .footer-contact h3 {
  font-size: 24px;
}
footer .footer-contact p {
  margin: 5px 0;
}
footer .footer-follow h3 {
  font-size: 24px;
}
footer .footer-follow ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}
footer .footer-follow li {
  display: inline-block;
  margin-right: 10px;
}
footer .footer-follow li a {
  color: white;
}
footer .footer-info {
  margin-top: 30px;
}
footer .footer-info p {
  margin: 10px 0;
}
footer .footer-info ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}
footer .footer-info li {
  display: inline-block;
  margin-right: 10px;
}
footer .footer-info li a {
  color: white;
}
footer .footer-nav h3 {
  margin-bottom: 10px;
  font-size: 24px;
}
footer .footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .footer-nav li {
  display: inline-block;
  margin-right: 10px;
}
footer .footer-nav a {
  color: #fff;
  text-decoration: none;
}

@media only screen and (min-width: 992px) {
  footer {
    margin: 20px;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */